.todo-results {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    padding: 5px 0;
    margin-bottom: 10px;
    padding: 10px 0;
    justify-content: space-between;
    border-bottom: 1px solid rgba(1, 1, 1, 0.1);
  }
  